*{
  font-family:"Nunito", Helvetica, Arial, sans-serif;
}

html {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	background: #fff;
}

body {
	font-size: 16px;
	font-weight: 400;
	color: #515c6a;
	line-height: 1.7em;
	padding: 0;
	/* display: none; */
	background:#e4e7e9;
  margin:0;
}


/* navbar */
#navbar{
  text-align: center;
  /* background:#ffffff; */
  height: 80px;
  position:fixed;
  width:100%;
}

#navsub{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

nav div#logo{
 	height: 100%;
	font-weight:bold;
	font-size:24px;
  margin: 0;	
}

nav div#logo a{
  font-family: "Poppins", sans-serif;
  color:darkslategray;
  text-decoration: none;
}

#navbar #menuitems a{
  text-decoration: none;
  margin: 0 20px;
  color:dimgrey;
  width:auto;
  
}

#menuitems a:hover{
  color:darkorange
}

.social-icons i{
  border: 1px solid darkorange;
  border-radius: 100%;
  padding: 12px 10px 8px 10px;
	width: 20px;
	height: 20px;
  background:darkorange;
  color:white;
  /* float:right; */
}

.social-icons i:hover{
  border: 1px solid darkorange;
  background:white;
    color:darkorange;
  /* float:right; */
}

.social-icons a{
  margin:10px;
  color:dimgrey;
}


/* content */
#frontpage{
  background: url(../images/cover.webp);
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 100vh;
  width: 100%;
 
}