*{
  font-family:"Nunito", Helvetica, Arial, sans-serif;
}

html {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	background: #fff;
}

body {
	font-size: 16px;
	font-weight: 400;
	color: #515c6a;
	line-height: 1.7em;
	padding: 0;
	/* display: none; */
	background:#e4e7e9;
  margin:0;
  padding: 0;
 
}


/* navbar */
#navbar{
  text-align: center;
  background:#ffffff;
  height: 80px;
  position:fixed;
  width:100%;
  margin: 0;
  top:0;
}




#navsub{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

nav div#logo{
 	height: 100%;
	font-weight:bold;
	font-size:24px;
  margin: 0;	
}

nav div#logo a{
  font-family: "Poppins", sans-serif;
  color:darkslategray;
  text-decoration: none;
}

#navbar #menuitems a{
  text-decoration: none;
  margin: 0 20px;
  color:dimgrey;
  width:auto;
  
}

#menuitems a:hover{
  color:darkorange
}

.social-icons i{
  border: 1px solid darkorange;
  border-radius: 100%;
  padding: 12px 10px 8px 10px;
	width: 15px;
	height: 15px;
  background:darkorange;
  color:white;
  /* float:right; */
}

.social-icons i:hover{
  border: 1px solid darkorange;
  background:white;
    color:darkorange;
  /* float:right; */
}

.social-icons a{
  margin:10px;
  color:dimgrey;
}


/* content */
#frontpage{
  background:  linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(../images/cover2.webp);
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 100vh;
  width: 100%;
}

.layer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 60%;
  margin: 5px;
}

.salutation h4{
  font-family: "Poppins", sans-serif;  
  color:darkorange;
  font-weight:bold;
  font-size: 20px;
}

.title{
  font-size: 60px;
  font-weight:900;
  color:white;
}

.brief{
  width:600px;
  text-align: center;
  color:white;
}

.button{
  padding:10px 15px 10px 15px;
  border-radius: 5px;
  background-color:darkorange;
  border:none;
}

.button a{
  color:white;
  text-decoration:none;
}
.about{
  margin: 0;
}